body{
    display: grid; 
    grid-template-columns: 0.9fr 1.7fr 0.4fr; 
    grid-template-rows: 0.4fr 2.2fr 0.4fr; 
    gap: 8px 8px; 
    grid-template-areas: 
      "header header header"
      "nav main aside"
      "footer footer footer"; 
    background-color:white;
    font-family: 'Roboto Slab', monospace;
    font-weight: auto;
    background-image: url(../img/background.jpg);
    background-image: no-repeat;
    background-image: fixed;
    background-image: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 90%;
}
h1{
    color: white;
    text-align: center;
    text-decoration: underline;
    padding: 5px;
}


.redes{
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 94%;
  top: 60%;
  top:1x;
}
.redes img{
  padding: 20px;
  width: 100px;
  border-radius: 40%;
  -webkit-border-radius: 40%;
  -moz-border-radius: 40%;
  -ms-border-radius: 40%;
  -o-border-radius: 40%;
}