.header{ 
    padding: 0%;
    grid-area: header;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(162,123,92);
    background: linear-gradient(180deg, rgba(162,123,92,1) 36%, rgba(44,54,57,0.7958365475096288) 68%);
    font-family: 'Oswald', sans-serif;
    img{
        width: 200px;
        padding: 2px;
        display: flex;
        justify-content: center;
        
    }
    .menu{
        margin-top: 0px;
        display: flex;
        flex-direction: row;
        padding-top: 5px;
        font-size: 36px;
        align-items: center;
        justify-content: space-between;
        list-style: none;
        ul{
            list-style: none;
            padding: 1px;
            
            list-style: none;
           li{
            justify-content: space-between;
            padding-left: 20px;
            display: inline-block;                                                                                                                                                                                                                                                                                                                                                                                                                                                   
                & a{
                    text-decoration:none;
                    color: rgb(220, 215, 201);
                    padding: 2px;
                    & :hover{
                            color: black;
                            background-color:rgb(227,204,174) ;
                            border-radius: 50%;
                            text-decoration: underline;
                            opacity: 70%;
                            transition: .3s;
                            -webkit-transition: .3s;
                            -moz-transition: .3s;
                            -ms-transition: .3s;
                             -o-transition: .3s;
                            }
                }
            }
        }
    }}