.nav{
    gap: 8px 8px; 
    grid-area: nav;
    padding:5px;
    margin:10px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background: rgb(162,123,92);
    background: radial-gradient(circle, rgba(162,123,92,1) 10%, rgba(44,54,57,1) 85%);
    & h2{
        text-decoration: underline dotted black;
        text-align: center;
        padding: 10px;
        justify-self: start;
    }
    div{
        color: rgb(245, 245, 245);
        padding: 20px;
        margin: 10px;
        display: column;
        background-color: rgb(44, 54, 57);
        border-radius: 20px;
        padding-inline-start: 10px;
    }
}
.news{
        font-family: 'Inconsolata', monospace;
        font-size: 1.5rem;
        line-height: 1.5;
        background-color: rgb(21, 111, 189);
        border: gainsboro;
        overflow: auto;
        color: rgb(249, 250, 250);
        & h2{
            text-align: center;
        }
        & p{
            font-family: 'Roboto Slab', serif;
            font-size: 1rem;
            line-height: 1;
            margin: 0;
            padding: 0;
        }
}
